---
# mongod.conf 
systemLog: 
  destination: file 
  logAppend: true 
  path: {{ mongo_log_path }} 
# Where and how to store data. 
storage: 
  dbPath: {{ mongo_dbpath }} 
  journal:
    enabled: true
  engine: wiredTiger
#  mmapv1:
#  wiredTiger:
# how the process runs
processManagement:
  fork: true 
  pidFilePath: {{ mongo_pid_path_file }}  
  timeZoneInfo: {{ timezone_info }}
# network interfaces
net:
  port: {{ mongo_port }}
  bindIp: {{ mongo_bind_address }} 
#operationProfiling:
replication:
  replSetName: "rs0"
#sharding: 
## Enterprise-Only Options
#auditLog:
#snmp: